
<%= content_for :header do %>

  <%= stylesheet_link_tag 'projects/non_stories_view' %>
  <%= javascript_include_tag "features/ga" %>
  <%= javascript_include_tag "projects/non_stories_view_prod-release-20111025-20111221-3_pkg" %>
  <script type="text/javascript">
    //<![CDATA[
    window._gaq = window._gaq || [];
    window._gaq.push(['_setAccount', 'UA-1687866-3']);
    window._gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    //]]>
  </script>
<%end%>

<body class="yui-skin-sam profiles_page">
  <div style="display: none;">
    <%image_tag "projects/actions_overlay_bg.png"%>
    <%image_tag "projects/create_project_button.png"%>
    <%image_tag "projects/create_project_button_hover.png"%>

  </div>
  <%= render :partial => 'layouts/header' %>
  <div id="main">
    <script type="text/javascript">
      ENVIRONMENT='prod'
    </script>


    <div class="content clearfix">
      <div id="flash">
        <ul>
        </ul>
      </div>
      <div class="profile_page settings">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

          <div style="margin:0;padding:0;display:inline">
            <input name="_method" value="put" type="hidden"/>
          </div>
          <div class="content_section">
            <h1>My Profile</h1>

            <input id="is_password_form" name="is_password_form" value="false" type="hidden"/>
            <table class="form_table">
              <tbody>
                <tr>
                  <td class="label_column">
                    <%= f.label :username %>
                  </td>
                  <td class="field_column">
                    <%= f.text_field :username, :class => "settings_field", :id => "person_username"%>
                  </td>
                </tr>
                <tr>
                  <td class="label_column">
                    <%= f.label :name %>
                  </td>
                  <td class="field_column">
                    <%= f.text_field :name, :class => "settings_field", :id => "person_name" %>
                  </td>
                </tr>
                <tr>
                  <td class="label_column">
                    <%= f.label :initials %>
                  </td>
                  <td class="field_column">
                    <%= f.text_field :initials, :class => "settings_field",  :id => "person_initials"%>
                  </td>
                </tr>
                <tr>
                  <td class="label_column">
                    <%= f.label :email %>
                  </td>
                  <td class="field_column">
                    <%= f.text_field :email, :class => "settings_field", :id => "person_email"%>
                  </td>
                </tr>
                <tr>
                  <td class="label_column">
                    <%= f.label :startpage %>
                  </td>
                  <td class="field_column">
                    <% selection = "Always start on the Dashboard", "Most recent project or the Dashboard when there are new messages" %>
                    <%= f.select :startpage,selection %>
                  </td>
                </tr>
                <tr>
                  <td class="label_column">
                    <%= f.label :time_zone %>
                  </td>
                  <td class="field_column">
                    <%= f.time_zone_select :time_zone %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="content_section">
            <h2>Email Preferences</h2>
            <table class="form_table">
            </table>
          </div>
          <div class="content_section">
            <h2>Project Page Preferences</h2>
            <table class="form_table">
            </table>
          </div>
        

        <div class="content_section">
          <h2>Password</h2>

          

            <table class="form_table">
              <tbody>
                <tr>
                  <td class="label_column">
                    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
                  </td>
                  <td class="field_column">
                    <%= f.password_field :password, :class => "field_column" %>
                  </td>
                </tr>
                <tr>
                  <td class="label_column">
                    <%= f.label :password_confirmation %>
                  </td>
                  <td class="field_column">
                    <%= f.password_field :password_confirmation, :class => "field_column" %>
                  </td>
                </tr>
                <tr>
                  <td class="label_column">
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
                  </td>
                  <td class="field_column">
                    <%= f.password_field :current_password %>
                  </td>
                </tr>
                <tr>
                  <td>

                  </td>
                  <td class="button_column">
                    <%= f.submit "Update" %>
                  </td>
                </tr>

              </tbody></table>
          <%end%>
        </div>

        <div class="content_section">
          <h2>Google OpenID</h2>

          <p>You currently do not a have an OpenID linked to this profile.</p>

        </div>


        <div class="content_section">
          <h2>
            <div class="right_link">
              <a href="https://#/help/api">Help</a> |
              <a href="https://#/profile/tokens" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;f.submit();return false;" person="#&lt;Person:0x1fd23a88&gt;">Create New Token</a>
            </div>
            API Token
          </h2>

          <p>You currently do not have any active tokens. Please hit "Create New Token" to get one!</p>

        </div>

      </div>

    </div>
    <noscript>
      <div id='js_required'>Tracker requires JavaScript. Please enable it in your browser.</div>
    </noscript>
    <div class="push"></div>
  </div>
  <%= render :partial => "layouts/signIn_footer" %>





  <script type="text/javascript">
    //<![CDATA[
    onload = function(){};
    //]]>
  </script>

</body>
