<!--<h2>Edit <%#= resource_name.to_s.humanize %></h2>-->
<div id="main">
  <div class="content clearfix">
    <div id="flash">
      <ul>

      </ul>
    </div>
    <div class="profile_page settting">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <div class="content_scetion">
          <h1>MY PROFILE</h1>
          <%= devise_error_messages! %>
          <table class="form_table">
            <tbody>
              
              <tr>
                <td class="label_column">
                  <%= f.label :name %>
                </td>
                <td class="field_column">
                  <%= f.text_field :name, :class => "settings_field"%>
                </td>
              </tr>
              <tr>
                <td class="label_column">
                  <%= f.label :email %>
                </td>
                <td class="field_column">
                  <%= f.text_field :email, :class => "settings_field"%>
                </td>
              </tr>
              <tr>
                <td class="label_column">
                  <%= f.label :time_zone %>
                </td>
                <td class="field_column">
                  <%= f.time_zone_select :time_zone %>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div id="content_scetion">
          <h2>Email Preferences</h2>
          <table class="form_table">
            <tbody>
              <tr>
                <td class="label_column">
  <%#*<label for="person_comment_email_preference">New story comments</label>%>
                </td>
                <td class="field_column">
  <%#*<select id="person_comment_email_preference" name="person[comment_email_preference]">%>
  <%#*<option value="no_thanks">No email</option>%>
  <%#*<option value="my_stories_only" selected="selected">Email me new comments on my stories only</option>%>
  <%#*<option value="all_stories">Email me new comments on all stories</option>%>
  <%#*</select>%>
                </td>
              </tr>

              <tr>
                <td class="label_column">
  <%#*<label for="person_wants_new_story_emails">New stories</label>%>
                </td>
                <td class="field_column">
  <%#*<input name="person[wants_new_story_emails]" value="0" type="hidden">%>
  <%#*<input id="person_wants_new_story_emails" name="person[wants_new_story_emails]" value="1" type="checkbox">%>
  <%#*<span>Email me when someone creates a new story in any of my projects</span>%>
                </td>
              </tr>
              <tr>
                <td class="label_column">
  <%#*<label for="person_wants_delivered_and_accepted_emails">Delivered and accepted stories</label>%>
                </td>
                <td class="field_column">
  <%#*<input name="person[wants_delivered_and_accepted_emails]" value="0" type="hidden">%>
  <%#*<input checked="checked" id="person_wants_delivered_and_accepted_emails" name="person[wants_delivered_and_accepted_emails]" value="1" type="checkbox">%>
  <%#*<span>Email me when someone delivers a story that I have requested, or accepts a story that I own</span>%>
                </td>
              </tr>
              <tr>
                <td class="label_column">
  <%#*<label for="person_wants_rejected_emails">Rejected stories</label>%>
                </td>
                <td class="field_column">
  <%#*<input name="person[wants_rejected_emails]" value="0" type="hidden">%>
  <%#*<input checked="checked" id="person_wants_rejected_emails" name="person[wants_rejected_emails]" value="1" type="checkbox">%>
  <%#*<span>Email me when someone rejects a story that I own</span>%>
                </td>
              </tr>
              <tr>
                <td class="label_column">
  <%#*<label for="person_wants_assignment_emails">Assigned stories</label>%>
                </td>
                <td class="field_column">
  <%#*<input name="person[wants_assignment_emails]" value="0" type="hidden">%>
  <%#*<input checked="checked" id="person_wants_assignment_emails" name="person[wants_assignment_emails]" value="1" type="checkbox">%>
  <%#*<span>Email me when someone makes me the owner of a story</span>%>
                </td>
              </tr>

              <tr>
                <td class="label_column">
  <%#*<label for="person_optin">Product updates</label>%>
                </td><td class="field_column">
  <%#*<input name="person[optin]" value="0" type="hidden">%>
  <%#*<input checked="checked" id="person_optin" name="person[optin]" value="1" type="checkbox">%>
  <%#*<span>Send me occasional product updates, newsletters, or surveys by email</span>%>
                </td>
              </tr>
            </tbody></table>
        </div>

        <div class="content_section">
          <h2>Project Page Preferences</h2>
          <table class="form_table">
            <tbody>
              <tr>
                <td class="label_column">
  <%#*<label for="person_save_story_on_enter">Save story on enter</label>%>
                </td>
                <td class="field_column">
  <%#*<input name="person[save_story_on_enter]" value="0" type="hidden">%>
  <%#*<input checked="checked" id="person_save_story_on_enter" name="person[save_story_on_enter]" value="1" type="checkbox">%>
  <%#*<span>When editing a story title, pressing Enter saves the story.</span>%>
                </td>
              </tr>
              <tr>
                <td class="label_column">
  <%#*<label for="person_show_hints">Show hints</label>%>
                </td>
                <td class="field_column">
  <%#*<input name="person[show_hints]" value="0" type="hidden">%>
  <%#*<input checked="checked" id="person_show_hints" name="person[show_hints]" value="1" type="checkbox">%>
                </td>
              </tr>
              <tr>
                <td class="label_column">
  <%#*<label for="person_show_project_tabs">Show project tabs</label>%>
                </td>
                <td class="field_column">
  <%#*<input name="person[show_project_tabs]" value="0" type="hidden">%>
  <%#*<input id="person_show_project_tabs" name="person[show_project_tabs]" value="1" type="checkbox">%>
  <%#*<span>Displays links to recently visited projects as horizontal tabs</span>%>
                </td>
              </tr>
              <tr>
                <td class="label_column">
  <%#*<label for="person_include_current_in_backlog">Include Current in Backlog</label>%>
                </td>
                <td class="field_column">
  <%#*<input name="person[include_current_in_backlog]" value="0" type="hidden">%>
  <%#*<input id="person_include_current_in_backlog" name="person[include_current_in_backlog]" value="1" type="checkbox">%>
  <%#*<span>Stacks the Current iteration on the top of the Backlog</span>%>
                </td>
              </tr>
              <tr>
                <td>

                </td>
                <td class="button_column">
  <%#*<input id="save" name="commit" value="Save" type="submit">%>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="content_section">
          <h2>Password</h2>
          <table class="form_table">
            <tbody>
              <tr>
                <td td class="label_column">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
                </td>
                <td class="field_column">
                  <%= f.password_field :password, :class => "field_column" %>
                </td>
              </tr>
              <tr>
                <td class="label_column">
                  <%= f.label :password_confirmation %>
                </td>
                <td class="field_column">
                  <%= f.password_field :password_confirmation, :class => "field_column" %>
                </td>
              </tr>
              <tr>
                <td class="label_column">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
                </td>
                <td class="field_column">
                  <%= f.password_field :current_password %>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="button_column">
                  <%= f.submit "Update" %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <p></p>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

      <%= link_to "Back", :back %>
    </div>
  </div>

<%#*</div>%>