<%= content_for :header do %>
  <%= stylesheet_link_tag "features/feature",:media => 'screen' %>
  <%= javascript_include_tag "features/ga" %>
  <%= javascript_include_tag "features/home" %>
  <%= javascript_include_tag "features/feature" %>
  <%#*<script src="/images/features/marcom_prod-release-20111025-20111221-3_pkg.js" type="text/javascript"></script>%>
  <%#*<script type="text/javascript" src="/images/features/kep3kek.js"></script>%>
  <style type="text/css">.tk-myriad-pro{font-family:"myriad-pro-1","myriad-pro-2",sans-serif;}.tk-myriad-pro-semi-condensed{font-family:"myriad-pro-semi-condensed-1","myriad-pro-semi-condensed-2",sans-serif;}</style>
  <%#*<link href="/images/features/kep3kek-e.css" rel="stylesheet">%>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%#*<script src="/images/features/features_prod-release-20111025-20111221-3_pkg.js" type="text/javascript"></script>%>

  <script type="text/javascript">
    //<![CDATA[
    window._gaq = window._gaq || [];
    window._gaq.push(['_setAccount', 'UA-1687866-3']);
    window._gaq.push(['_trackPageview']);



    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    //]]>
  </script>
  <style type="text/css" charset="utf-8">/* See license.txt for terms of usage */
    /** reset styling **/
    .firebugResetStyles {
      z-index: 2147483646 !important;
      top: 0 !important;
      left: 0 !important;
      display: block !important;
      border: 0 none !important;
      margin: 0 !important;
      padding: 0 !important;
      outline: 0 !important;
      min-width: 0 !important;
      max-width: none !important;
      min-height: 0 !important;
      max-height: none !important;
      position: fixed !important;
      -moz-transform: rotate(0deg) !important;
      -moz-transform-origin: 50% 50% !important;
      -moz-border-radius: 0 !important;
      -moz-box-shadow: none !important;
      background: transparent none !important;
      pointer-events: none !important;
    }

    .firebugBlockBackgroundColor {
      background-color: transparent !important;
    }

    .firebugResetStyles:before, .firebugResetStyles:after {
      content: "" !important;
    }
    /**actual styling to be modified by firebug theme**/
    .firebugCanvas {
      display: none !important;
    }

    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
    .firebugLayoutBox {
      width: auto !important;
      position: static !important;
    }

    .firebugLayoutBoxOffset {
      opacity: 0.8 !important;
      position: fixed !important;
    }

    .firebugLayoutLine {
      opacity: 0.4 !important;
      background-color: #000000 !important;
    }

    .firebugLayoutLineLeft, .firebugLayoutLineRight {
      width: 1px !important;
      height: 100% !important;
    }

    .firebugLayoutLineTop, .firebugLayoutLineBottom {
      width: 100% !important;
      height: 1px !important;
    }

    .firebugLayoutLineTop {
      margin-top: -1px !important;
      border-top: 1px solid #999999 !important;
    }

    .firebugLayoutLineRight {
      border-right: 1px solid #999999 !important;
    }

    .firebugLayoutLineBottom {
      border-bottom: 1px solid #999999 !important;
    }

    .firebugLayoutLineLeft {
      margin-left: -1px !important;
      border-left: 1px solid #999999 !important;
    }

    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
    .firebugLayoutBoxParent {
      border-top: 0 none !important;
      border-right: 1px dashed #E00 !important;
      border-bottom: 1px dashed #E00 !important;
      border-left: 0 none !important;
      position: fixed !important;
      width: auto !important;
    }

    .firebugRuler{
      position: absolute !important;
    }

    .firebugRulerH {
      top: -15px !important;
      left: 0 !important;
      width: 100% !important;
      height: 14px !important;
      background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%13%88%00%00%00%0E%08%02%00%00%00L%25a%0A%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%04%F8IDATx%DA%EC%DD%D1n%E2%3A%00E%D1%80%F8%FF%EF%E2%AF2%95%D0D4%0E%C1%14%B0%8Fa-%E9%3E%CC%9C%87n%B9%81%A6W0%1C%A6i%9A%E7y%0As8%1CT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AATE9%FE%FCw%3E%9F%AF%2B%2F%BA%97%FDT%1D~K(%5C%9D%D5%EA%1B%5C%86%B5%A9%BDU%B5y%80%ED%AB*%03%FAV9%AB%E1%CEj%E7%82%EF%FB%18%BC%AEJ8%AB%FA'%D2%BEU9%D7U%ECc0%E1%A2r%5DynwVi%CFW%7F%BB%17%7Dy%EACU%CD%0E%F0%FA%3BX%FEbV%FEM%9B%2B%AD%BE%AA%E5%95v%AB%AA%E3E5%DCu%15rV9%07%B5%7F%B5w%FCm%BA%BE%AA%FBY%3D%14%F0%EE%C7%60%0EU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5JU%88%D3%F5%1F%AE%DF%3B%1B%F2%3E%DAUCNa%F92%D02%AC%7Dm%F9%3A%D4%F2%8B6%AE*%BF%5C%C2Ym~9g5%D0Y%95%17%7C%C8c%B0%7C%18%26%9CU%CD%13i%F7%AA%90%B3Z%7D%95%B4%C7%60%E6E%B5%BC%05%B4%FBY%95U%9E%DB%FD%1C%FC%E0%9F%83%7F%BE%17%7DkjMU%E3%03%AC%7CWj%DF%83%9An%BCG%AE%F1%95%96yQ%0Dq%5Dy%00%3Et%B5'%FC6%5DS%95pV%95%01%81%FF'%07%00%00%00%00%00%00%00%00%00%F8x%C7%F0%BE%9COp%5D%C9%7C%AD%E7%E6%EBV%FB%1E%E0(%07%E5%AC%C6%3A%ABi%9C%8F%C6%0E9%AB%C0'%D2%8E%9F%F99%D0E%B5%99%14%F5%0D%CD%7F%24%C6%DEH%B8%E9rV%DFs%DB%D0%F7%00k%FE%1D%84%84%83J%B8%E3%BA%FB%EF%20%84%1C%D7%AD%B0%8E%D7U%C8Y%05%1E%D4t%EF%AD%95Q%BF8w%BF%E9%0A%BF%EB%03%00%00%00%00%00%00%00%00%00%B8vJ%8E%BB%F5%B1u%8Cx%80%E1o%5E%CA9%AB%CB%CB%8E%03%DF%1D%B7T%25%9C%D5(%EFJM8%AB%CC'%D2%B2*%A4s%E7c6%FB%3E%FA%A2%1E%80~%0E%3E%DA%10x%5D%95Uig%15u%15%ED%7C%14%B6%87%A1%3B%FCo8%A8%D8o%D3%ADO%01%EDx%83%1A~%1B%9FpP%A3%DC%C6'%9C%95gK%00%00%00%00%00%00%00%00%00%20%D9%C9%11%D0%C0%40%AF%3F%EE%EE%92%94%D6%16X%B5%BCMH%15%2F%BF%D4%A7%C87%F1%8E%F2%81%AE%AAvzr%DA2%ABV%17%7C%E63%83%E7I%DC%C6%0Bs%1B%EF6%1E%00%00%00%00%00%00%00%00%00%80cr%9CW%FF%7F%C6%01%0E%F1%CE%A5%84%B3%CA%BC%E0%CB%AA%84%CE%F9%BF)%EC%13%08WU%AE%AB%B1%AE%2BO%EC%8E%CBYe%FE%8CN%ABr%5Dy%60~%CFA%0D%F4%AE%D4%BE%C75%CA%EDVB%EA(%B7%F1%09g%E5%D9%12%00%00%00%00%00%00%00%00%00H%F6%EB%13S%E7y%5E%5E%FB%98%F0%22%D1%B2'%A7%F0%92%B1%BC%24z3%AC%7Dm%60%D5%92%B4%7CEUO%5E%F0%AA*%3BU%B9%AE%3E%A0j%94%07%A0%C7%A0%AB%FD%B5%3F%A0%F7%03T%3Dy%D7%F7%D6%D4%C0%AAU%D2%E6%DFt%3F%A8%CC%AA%F2%86%B9%D7%F5%1F%18%E6%01%F8%CC%D5%9E%F0%F3z%88%AA%90%EF%20%00%00%00%00%00%00%00%00%00%C0%A6%D3%EA%CFi%AFb%2C%7BB%0A%2B%C3%1A%D7%06V%D5%07%A8r%5D%3D%D9%A6%CAu%F5%25%CF%A2%99%97zNX%60%95%AB%5DUZ%D5%FBR%03%AB%1C%D4k%9F%3F%BB%5C%FF%81a%AE%AB'%7F%F3%EA%FE%F3z%94%AA%D8%DF%5B%01%00%00%00%00%00%00%00%00%00%8E%FB%F3%F2%B1%1B%8DWU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*UiU%C7%BBe%E7%F3%B9%CB%AAJ%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5*%AAj%FD%C6%D4%5Eo%90%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5%86%AF%1B%9F%98%DA%EBm%BBV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%AD%D6%E4%F58%01%00%00%00%00%00%00%00%00%00%00%00%00%00%40%85%7F%02%0C%008%C2%D0H%16j%8FX%00%00%00%00IEND%AEB%60%82") repeat-x !important;
      border-top: 1px solid #BBBBBB !important;
      border-right: 1px dashed #BBBBBB !important;
      border-bottom: 1px solid #000000 !important;
    }

    .firebugRulerV {
      top: 0 !important;
      left: -15px !important;
      width: 14px !important;
      height: 100% !important;
      background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%0E%00%00%13%88%08%02%00%00%00%0E%F5%CB%10%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%06~IDATx%DA%EC%DD%D1v%A20%14%40Qt%F1%FF%FF%E4%97%D9%07%3BT%19%92%DC%40(%90%EEy%9A5%CB%B6%E8%F6%9Ac%A4%CC0%84%FF%DC%9E%CF%E7%E3%F1%88%DE4%F8%5D%C7%9F%2F%BA%DD%5E%7FI%7D%F18%DDn%BA%C5%FB%DF%97%BFk%F2%10%FF%FD%B4%F2M%A7%FB%FD%FD%B3%22%07p%8F%3F%AE%E3%F4S%8A%8F%40%EEq%9D%BE8D%F0%0EY%A1Uq%B7%EA%1F%81%88V%E8X%3F%B4%CEy%B7h%D1%A2E%EBohU%FC%D9%AF2fO%8BBeD%BE%F7X%0C%97%A4%D6b7%2Ck%A5%12%E3%9B%60v%B7r%C7%1AI%8C%BD%2B%23r%00c0%B2v%9B%AD%CA%26%0C%1Ek%05A%FD%93%D0%2B%A1u%8B%16-%95q%5Ce%DCSO%8E%E4M%23%8B%F7%C2%FE%40%BB%BD%8C%FC%8A%B5V%EBu%40%F9%3B%A72%FA%AE%8C%D4%01%CC%B5%DA%13%9CB%AB%E2I%18%24%B0n%A9%0CZ*Ce%9C%A22%8E%D8NJ%1E%EB%FF%8F%AE%CAP%19*%C3%BAEKe%AC%D1%AAX%8C*%DEH%8F%C5W%A1e%AD%D4%B7%5C%5B%19%C5%DB%0D%EF%9F%19%1D%7B%5E%86%BD%0C%95%A12%AC%5B*%83%96%CAP%19%F62T%86%CAP%19*%83%96%CA%B8Xe%BC%FE)T%19%A1%17xg%7F%DA%CBP%19*%C3%BA%A52T%86%CAP%19%F62T%86%CA%B0n%A9%0CZ%1DV%C6%3D%F3%FCH%DE%B4%B8~%7F%5CZc%F1%D6%1F%AF%84%F9%0F6%E6%EBVt9%0E~%BEr%AF%23%B0%97%A12T%86%CAP%19%B4T%86%CA%B8Re%D8%CBP%19*%C3%BA%A52huX%19%AE%CA%E5%BC%0C%7B%19*CeX%B7h%A9%0C%95%E1%BC%0C%7B%19*CeX%B7T%06%AD%CB%5E%95%2B%BF.%8F%C5%97%D5%E4%7B%EE%82%D6%FB%CF-%9C%FD%B9%CF%3By%7B%19%F62T%86%CA%B0n%D1R%19*%A3%D3%CA%B0%97%A12T%86uKe%D0%EA%B02*%3F1%99%5DB%2B%A4%B5%F8%3A%7C%BA%2B%8Co%7D%5C%EDe%A8%0C%95a%DDR%19%B4T%C66%82fA%B2%ED%DA%9FC%FC%17GZ%06%C9%E1%B3%E5%2C%1A%9FoiB%EB%96%CA%A0%D5qe4%7B%7D%FD%85%F7%5B%ED_%E0s%07%F0k%951%ECr%0D%B5C%D7-g%D1%A8%0C%EB%96%CA%A0%A52T%C6)*%C3%5E%86%CAP%19%D6-%95A%EB*%95q%F8%BB%E3%F9%AB%F6%E21%ACZ%B7%22%B7%9B%3F%02%85%CB%A2%5B%B7%BA%5E%B7%9C%97%E1%BC%0C%EB%16-%95%A12z%AC%0C%BFc%A22T%86uKe%D0%EA%B02V%DD%AD%8A%2B%8CWhe%5E%AF%CF%F5%3B%26%CE%CBh%5C%19%CE%CB%B0%F3%A4%095%A1%CAP%19*Ce%A8%0C%3BO*Ce%A8%0C%95%A12%3A%AD%8C%0A%82%7B%F0v%1F%2FD%A9%5B%9F%EE%EA%26%AF%03%CA%DF9%7B%19*Ce%A8%0C%95%A12T%86%CA%B8Ze%D8%CBP%19*Ce%A8%0C%95%D1ae%EC%F7%89I%E1%B4%D7M%D7P%8BjU%5C%BB%3E%F2%20%D8%CBP%19*Ce%A8%0C%95%A12T%C6%D5*%C3%5E%86%CAP%19*Ce%B4O%07%7B%F0W%7Bw%1C%7C%1A%8C%B3%3B%D1%EE%AA%5C%D6-%EBV%83%80%5E%D0%CA%10%5CU%2BD%E07YU%86%CAP%19*%E3%9A%95%91%D9%A0%C8%AD%5B%EDv%9E%82%FFKOee%E4%8FUe%A8%0C%95%A12T%C6%1F%A9%8C%C8%3D%5B%A5%15%FD%14%22r%E7B%9F%17l%F8%BF%ED%EAf%2B%7F%CF%ECe%D8%CBP%19*Ce%A8%0C%95%E1%93~%7B%19%F62T%86%CAP%19*Ce%A8%0C%E7%13%DA%CBP%19*Ce%A8%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4%AE%A4%F5%25%C0%00%DE%BF%5C'%0F%DA%B8q%00%00%00%00IEND%AEB%60%82") repeat-y !important;
      border-left: 1px solid #BBBBBB !important;
      border-right: 1px solid #000000 !important;
      border-bottom: 1px dashed #BBBBBB !important;
    }

    .overflowRulerX > .firebugRulerV {
      left: 0 !important;
    }

    .overflowRulerY > .firebugRulerH {
      top: 0 !important;
    }

    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
    .fbProxyElement {
      position: fixed !important;
      pointer-events: auto !important;
    }</style>
  <%end%>
<body class="marcom_page features">

  <div id="wrapper">
    <script type="text/javascript">
      ENVIRONMENT='prod'
    </script>

    <%= render :partial => 'layouts/header' %>


    <div id="featured">
      <div class="center">
        <div class="inner">
          <div class="features_tour">
            <h2>Features Tour</h2>

            <a href="/" class="button sign_up ">Sign up</a>

          </div>

          <div style="display: block;" class="feature_content overview enabled">

            <div class="feature_right">
              <a href="#">
                <img rel="#overview_video" class="screenshot" src="/images/features/overview.png">
              </a>

              <div class="simple_overlay" id="overview_video">
                <div class="close"></div>
                <object>

                  <embed src="/images/features/flvplayer.swf?file=/video/pivotal-tracker-intro.flv&autostart=true" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" height="676" width="850"/>
                </object>
              </div>

              <script type="text/javascript">
                $(document).ready(function() {
                  $("img[rel]").overlay({
                    top: '18%'
                  });
                });
              </script>

            </div>
            <div class="feature_left">
              <h3>Simple, yet powerful.</h3>
              <div class="hr_container"><hr></div>
              <h4>“Forget the bug tracker or issue tool you're using now. This
                is an iPod. You're using a Zune. You can run your whole company on it.
                And you probably should.” <span>-- Nivi, Venture Hacks</span></h4>
            </div>
          </div>


          <div class="feature_content tracker_story">
            <div class="feature_right">
              <img class="screenshot" src="/images/features/tracker_story.png">
            </div>
            <div class="feature_left">
              <h3>The Tracker Story</h3>
              <div class="hr_container"><hr></div>
              <h4>Pivotal Labs is a consulting shop and not a product company,
                so it might seem odd for us to release an agile project management tool
                like Tracker. We didn't build Tracker for the sake of building a
                product; we needed it.</h4>
            </div>
          </div>


          <div class="feature_content one_view">
            <div class="feature_right">
              <img class="screenshot" src="/images/features/one_view.png">
            </div>
            <div class="feature_left">
              <h3>One View.<br>Plan and work seamlessly.</h3>
              <div class="hr_container"><hr></div>
              <h4>From exec to developer, everyone shares one view. Collaborate
                at a fine-grained level, without losing sight of the bigger picture.</h4>
            </div>
          </div>


          <div class="feature_content real_time">
            <div class="feature_right">
              <img class="screenshot" src="/images/features/realtime_photo.png">
            </div>
            <div class="feature_left">
              <h3>Real Time, Focused Collaboration.</h3>
              <div class="hr_container"><hr></div>
              <h4>Manage and react to everything that matters on your project,
                in real time. Bring your distributed team together into one virtual
                room, and collaborate around a shared, prioritized backlog.</h4>
            </div>
          </div>


          <div class="feature_content agile">
            <div class="feature_right">
              <img class="screenshot" src="/images/features/agile_burndown.png">
            </div>
            <div class="feature_left">
              <h3>Agile Development, by the Experts.</h3>
              <div class="hr_container"><hr></div>
              <h4>Effective, practical agile software development, from the
                people that helped invent it. This is agile that works and has helped
                ship hundreds of successful products.</h4>
            </div>
          </div>


          <div class="feature_content workflow">
            <div class="feature_right">
              <img class="screenshot" src="/images/features/simple_workflow.png">
            </div>
            <div class="feature_left">
              <h3>Simple, Effective Workflow.</h3>
              <div class="hr_container"><hr></div>
              <h4>Easy to adopt, out of the box collaborative workflow that's surprisingly powerful. Transform your productivity.</h4>
            </div>
          </div>


          <div class="feature_content for_developers">
            <div class="feature_right">
              <img class="screenshot" src="/images/features/developer.png">
            </div>
            <div class="feature_left">
              <h3>Developer Tested.<br>Just add Stories.</h3>
              <div class="hr_container"><hr></div>
              <h4>Focus on building great software, not keeping your agile project management tool in sync with reality.</h4>
            </div>
          </div>


          <div class="feature_content integrations">
            <div class="feature_right">
              <img class="screenshot" src="/images/features/integrations.png">
            </div>
            <div class="feature_left">
              <h3>Plays well with Others.</h3>
              <div class="hr_container"><hr></div>
              <h4>With a full blown API and built-in integrations, Tracker complements the tools and services you already use.</h4>
            </div>
          </div>

          <div class="features_nav_wrapper">
            <a id="navPrev" href="#" onclick="return false;" class="nav prev"><span>Previous</span></a>
            <div class="inner">
              <ul style="width: 1151.58px;" id="features_nav">
                <li><a href="#overview" class="selected">Overview</a></li>
                <li><a href="#tracker_story">The Tracker Story</a></li>
                <li><a href="#one_view">One View</a></li>
                <li><a href="#real_time">Real-time Collaboration</a></li>
                <li><a href="#agile">Agile the Pivotal Way</a></li>
                <li><a href="#workflow">Simple Workflow</a></li>
                <li><a href="#for_developers">Developer Friendly</a></li>
                <li class="last"><a href="#integrations">Integrations</a></li>
              </ul>
            </div>
            <a id="navNext" href="#" onclick="return false;" class="nav next enabled"><span>Next</span></a>
          </div>
        </div>
      </div>
    </div>

    <div style="display: block;" class="feature_content overview content enabled">

      <div class="section grey">
        <div class="center">
          <div class="inner">
            <ul>
              <li>
                <h4>What is Pivotal Tracker?</h4>
                <p><a href="https://www.pivotaltracker.com/">Pivotal Tracker</a> is an easy to use, agile project management tool that brings focused collaboration to software development teams. Built by <a href="http://www.pivotallabs.com/">Pivotal Labs</a>, it embodies proven agile methods, based on experience from hundreds of successful large scale <a href="http://www.pivotallabs.com/clients" target="_blank">projects</a>. </p>
              </li>
              <li>
                <h4>Join the Community</h4>
                <p>Pivotal Tracker is the agile project management tool of
                  choice for over 310,000 users across thousands of companies, from large
                  public companies to fast growing startups, and open source development
                  teams.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section white">
        <div class="center">
          <div class="inner">
            <h3>Learn more.</h3>
            <ul>
              <li>
                <a href="#one_view">
                  <h4>One View</h4>
                  <p>From CEO to developer, everyone shares one view. Work at a fine-grained level, without losing sight of the bigger picture.<span>Learn more.</span></p>
                </a>
              </li>
              <li>
                <a href="#real_time">
                  <h4>Real-time Collaboration</h4>
                  <p>See and react to everything that matters on your project, in real time. Bring your distributed team together.<span>Learn more.</span></p>
                </a>
              </li>
              <li>
                <a href="#agile">
                  <h4>Agile, the Pivotal Way</h4>
                  <p>Effective agile software development, from the people that helped invent it. This is agile that really works.<span>Learn more.</span></p>
                </a>
              </li>
              <li>
                <a href="#workflow">
                  <h4>Simple Workflow</h4>
                  <p>Easy to adopt, out of the box workflow that's surprisingly powerful. Transform your productivity.<span>Learn more.</span></p>
                </a>
              </li>
              <li>
                <a href="#for_developers">
                  <h4>Developer-friendly</h4>
                  <p>Focus on building great software, not keeping your project management tool in sync with reality. <span>Learn more.</span></p>
                </a>
              </li>
              <li>
                <a href="#integrations">
                  <h4>Integrations</h4>
                  <p>Tracker complements tools and services you already use at your company, and is easy to extend.<span>Learn more.</span></p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section white">
        <div class="center">
          <div class="testimonial">
            <div class="inner">
              <blockquote>“I've waited 15 years for a computer program
                that out-performs index cards. Pivotal Tracker's smooth interface and
                network-native architecture supports my team's collaborative/distributed
                planning without giving up the simplicity and physicality of cards.
                This product had to come from a team that understands how I work.”</blockquote>
              <p>-- Ward Cunningham, CTO, AboutUs.org</p>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="feature_content tracker_story content">
      <div class="section grey">
        <div class="center">
          <div class="inner">
            <ul>
              <li class="index_cards">
                <h3>State of the art: index cards</h3>
                <p><strong>We've been doing agile software development since before terms like "Agile" and "XP" existed.</strong><br>
                  Over the years we've made numerous attempts to use the variety of
                  software project management and agile development applications
                  available, from Microsoft Project to the more current agile-specific
                  products.
                  <strong>We kept returning to index cards,</strong>
                  sometimes augmented with a patchwork of wikis and spreadsheets. We
                  followed the agile planning tools out there, but each attempt to adopt
                  one resulted in frustration.</p>
                <p>Configuration and data entry were a constant expense. User interfaces were clunky and had too much back and forth navigation. <strong>The workflows were inefficient and the overhead was high.</strong>
                  (We kept hearing circus music in our heads, with all the hoops we were
                  jumping through.) The usage cost never seemed sustainable. <strong>It always felt like we were working for the product, instead of it working for us.</strong></p>
              </li>
              <li class="need_solution">
                <h3>But we needed something...</h3>
                <p>As our business grew, so did our frustration; <strong>index cards were far from ideal but the alternatives were worse.</strong>
                  And at the same time, we were just starting to look at a promising new
                  technology, Ruby on Rails. So we decided to build our own agile project
                  management tool.
                  We started working on Pivotal Tracker in late 2006. Its
                  beginnings were very humble. All we needed was to have a backlog and be
                  able to easily prioritize. <strong>We created simple story editing and built drag-and-drop prioritization and we were ready to start the switch from index cards.</strong> (These simple features gave us parity with index cards, with the bonus of having the backlog online.)</p>
              </li>
              <li class="project_management">
                <h3>Who gets excited by agile project management software?</h3>
                <p>We started using Tracker on all of our client
                  development projects. We continually improved and tweaked the
                  application, integrating our experience and feedback, and we started to
                  find that it really <strong>transformed both the transparency and the flow of development.</strong></p>
                <p>Tracker quickly developed a following among client
                  developers who had used it when working with us, too. We would routinely
                  receive requests for accounts: <em>"I used Tracker at my last job. Can I have an account to use in my new one?"</em></p>
                <p>We would always accommodate these word-of-mouth,
                  friends and family type requests. Entire client organizations, beyond
                  our projects, started using Tracker. The interest continued to grow and
                  with much greater enthusiasm. We kept getting emails saying things like,
                  <em>"Please let me pay for Tracker; I can't live without it."</em></p>
                <p>So we decided to make Tracker publicly available. We
                  launched the public beta at RailsConf 2008 as a free agile project
                  management tool. Over 10% of the attendees signed up that week.</p>
              </li>
              <li class="why">
                <h3>Why is Pivotal Tracker Special?</h3>
                <div class="callout">
                  <div class="inner">
                    <p>We had three key insights at the outset that made Tracker work:</p>
                    <ol>
                      <li>The user interface needed to be simple.</li>
                      <li>The project status and backlog needed to be easily (always) available.</li>
                      <li>You shouldn't have to constantly plan iterations.</li>
                    </ol>
                  </div>
                </div>
                <p>The first point is simply about good UI design, but it's amazing how many tools out there get this wrong.</p>
                <p>The last point is more subtle. In agile processes, particularly <a href="http://www.extremeprogramming.org/" rel="nofollow" target="_blank">Extreme Programming (XP)</a>,
                  there is a concept called velocity. The basic idea is that you assign a
                  point cost to stories and the sum of the point costs of completed
                  stories in a given iteration is the velocity. You then use the velocity
                  to project how much you will be able to get done in each future
                  iteration.</p>
                <p>As software development teams start to gel, they
                  exhibit a strong central tendency to get a consistent amount done each
                  week, and this velocity becomes extremely predictive and reliable.
                  Traditionally in XP, after completing an iteration, you
                  would re-plan each subsequent iteration, adjusting for the actual rate
                  of progress. This can be organizationally onerous, but it's critical, as
                  it allows you to project when each milestone will be reached. The
                  feedback loop needs to be maintained to insure better-informed
                  decisions.</p>
                <p>The solution is the <strong>emergent iteration.</strong>
                  Pivotal Tracker automatically (and in real-time) tracks story
                  completions, iterations and velocity and will dynamically adjust
                  iteration backlogs based on actual progress; Tracker does the grunt work
                  and your project schedule is always up-to-date.</p>
              </li>
              <li class="philosophy">
                <h3>Learn more about <a href="http://www.pivotallabs.com/" target="_blank">Pivotal Labs</a>.</h3>
                <h3>The Tracker Philosophy</h3>
                <p><strong>Tracker embraces simplicity. It should make managing projects easy, rather than make its users slaves to maintaining the plan.</strong>
                  It should give every user of the system more information back than they
                  put in.
                  Tracker doesn't have a huge list of features, because it
                  tries to stay true to its core purpose. (Remember, it exists partly
                  because of our frustration with the bloated alternatives.)
                  At times, Tracker appears opinionated as it can place
                  strict limits on how you manage your project. But this is a consequence
                  of its focus and the interdependence of features; the sum of Tracker is
                  far greater than its parts.
                  While we don't always get it right, we try to make sure
                  each additional feature or product change adds a lot of value and makes
                  users' work easier.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="feature_content one_view content">

      <div class="section grey">
        <div class="center">
          <div class="inner">
            <div class="testimonial">
              <div class="inner">
                <blockquote>“Pivotal Tracker is a fantastic product. We've
                  become a more efficient development team since we started using it. And
                  even better, the management team gets on-demand visibility into my
                  team's priorities and accomplishments.”</blockquote>
                <p>-- Jim Gochee, VP Engineering, New Relic</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section white">
        <div class="center">
          <div class="inner">
            <ul>
              <li>
                <img src="/images/features/birds_eye_view.png">
                <h4>Get on the Same Page</h4>
                <p>With <a href="https://www.pivotaltracker.com/">Pivotal Tracker</a>,
                  everyone shares the same, up to the minute view of what's going on with
                  the project, and what needs to be done next. It lets product owners
                  know in intimate detail where things are, without having to ask, and
                  lets developers spend time on work, rather than on reporting the work.</p>
              </li>
              <li>
                <img src="/images/features/focus.png">
                <h4>Stay Focused</h4>
                <p>Imagine if everyone on the team knew what the highest
                  priority thing to do was, what one thing they could do next that would
                  move the company forward? Tracker facilitates that communication, by
                  letting developers focus on what's next, without losing sight of the big
                  picture.</p>
              </li>
            </ul>
            <ul>
              <li>
                <img src="/images/features/search.png">
                <h4>Find Stories Easily</h4>
                <p>Every story is within reach with Tracker's easy to use
                  full text search, with support for more powerful structured queries when
                  you need them.</p>
              </li>
              <li>
                <img src="/images/features/charts.png">
                <h4>Visualize Progress</h4>
                <p>Keep an eye on your project with Tracker's built-in
                  charts, including release burn-down, iteration burn-up, story type
                  breakdown, and historical velocity.</p>
              </li>
            </ul>
            <ul>
              <li>
                <img src="/images/features/history.png">
                <h4>See How You Got Here</h4>
                <p>See everything that's recently happened in your
                  software development project recently. or a particular user story. All
                  with one click or keystroke.</p>
              </li>
              <li>
                <img src="/images/features/drag_drop.png">
                <h4>React to What You See</h4>
                <p>Rearrange stories in your project to reflect new
                  priorities with simple drag and drop, and see the impact on your release
                  schedule immediately. </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="feature_content real_time content">
      <div class="section grey">
        <div class="center">
          <div class="inner">
            <ul class="screens">
              <li>
                <img src="/images/features/realtime_updates.png">
                <h4>Virtual Team Room</h4>
                <p>Your view of your project is always up to date, without
                  ever refreshing the browser. Updates from others are seen instantly,
                  and changes from multiple people are merged seamlessly, in real time.</p>
              </li>
              <li>
                <img src="/images/features/team_communication.png" class="team_communication">
                <h4>Encourages Conversation</h4>
                <p>Tracker drives conversation from it's workflow
                  transparency to help your team work better and faster. Story comments
                  allow each story to evolve based on feedback and discussion.</p>
              </li>
              <li>
                <img src="/images/features/notifications.png">
                <h4>Stay Up to Date</h4>
                <p>Whether your team is in the same room, across the hall
                  or across the world, Tracker keeps everyone in sync with the latest
                  changes. Not logged in? Tracker can keep you up to date through email,
                  RSS, <a href="https://www.pivotaltracker.com/help/integrations#twitter">Twitter</a> or <a href="https://www.pivotaltracker.com/help/integrations#campfire">Campfire</a>, or use web callbacks to keep you up-to-date however you like.</p>
              </li>
            </ul>
            <ul>
              <li>
                <img src="/images/features/attachments.png">
                <h4>Attach your Mockups</h4>
                <p>Take the assets you've gathered for your project and
                  attach them directly to stories, so your developers don't have to hunt
                  for them when they're ready to turn those mockups into working software.</p>
              </li>
              <li>
                <img src="/images/features/labels.png">
                <h4>Organize by Label</h4>
                <p>Tag your stories with labels to tie related stories
                  together. Labels let you find stories quickly, and see progress at a
                  higher level.</p>
              </li>
              <li>
                <img src="/images/features/campfire.png">
                <h4>Campfire Chat</h4>
                <p>See updates from Tracker in your Campfire chatroom,
                  allowing your entire team to stay abreast of the project development
                  activity.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section white">
        <div class="center">
          <div class="inner">
            <div class="testimonial">
              <div class="inner">
                <blockquote>“Pivotal Tracker is as simple as a to-do list
                  you might write on paper, but online, shared and collaborative (try the
                  real-time collaboration and be amazed). Every bug or feature request we
                  get ends up on our Pivotal list.”</blockquote>
                <p>-- Jim Gochee, VP Engineering, New Relic</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="feature_content agile content">
      <div class="section grey">
        <div class="center">
          <div class="inner">
            <div class="headline">
              <img src="/images/features/realworld_xp.png">
              <h3 class="callout">Based on Real-World Experience</h3>
              <p class="callout">The agile, iterative workflow and story management in <a href="https://www.pivotaltracker.com/">Pivotal Tracker</a> embodies years of experience by Pivotal Labs on real world <a href="http://www.pivotallabs.com/clients" target="_blank">client projects</a>. This is agile project management that really works!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="section white">
        <div class="center">
          <div class="inner">
            <ul class="screens">
              <li>
                <img src="/images/features/emergence.png">
                <h4>Velocity and Emergent Iterations</h4>
                <p>Tracker calculates future iterations automatically,
                  based on historical performance. Focus on prioritizing and completing
                  your stories; let Tracker take care of planning future iterations, based
                  on actual progress.</p>
              </li>
              <li>
                <img src="/images/features/release_planning.png" class="release_planning">
                <h4>Release and Scope Management</h4>
                <p>Planning a release and focusing on milestones as real
                  world changes occur is easy with Tracker. Completion dates are
                  calculated automatically, based on velocity - your live measure of
                  historical performance. See impact on scope as new stories are added
                  immediately, and move stories around easily via drag and drop as
                  priorities change.</p>
              </li>
              <li>
                <img src="/images/features/ownership.png" class="ownership">
                <h4>Collective Ownership</h4>
                <p>Tracker is especially effective when used by
                  self-organizing teams, who embrace collective code ownership. Since
                  anyone can work on the next available story in the shared, highly
                  visible backlog, you'll see fewer bottlenecks, and the team will move
                  faster toward shared goals.</p>
              </li>
            </ul>
            <ul>
              <li>
                <img src="/images/features/workflow.png">
                <h4>Simple, Effective Workflow</h4>
                <p>Jump right into your project with a <a href="https://www.pivotaltracker.com/features#workflow">simple workflow</a>
                  that emphasizes rapid delivery and lots of feedback. Simplify your
                  process, rather than struggle trying to manage shifting complexity.</p>
              </li>
              <li>
                <img src="/images/features/feedback_loop.png" class="feedback">
                <h4>Feedback Loop</h4>
                <p>A Tracker story is only considered done when accepted
                  by the project's customer. This creates a constant feedback loop,
                  starting in the very first iteration, which shapes your product and
                  eliminates costly surprises typically found only after software ships to
                  production.</p>
              </li>
              <li>
                <img src="/images/features/mvp.png">
                <h4>Focus on MVP</h4>
                <p>Long software development projects that don't ship are
                  expensive and often lead to failure. Focus on delivering stories and
                  shipping working software often are tightly woven into the fabric of
                  Tracker. </p>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <div class="section white">
        <div class="center">
          <div class="inner">
            <div class="testimonial">
              <div class="inner">
                <blockquote>“Pivotal Tracker is a great lightweight tool for running distributed Scrum.”</blockquote>
                <p>-- Jeff Sutherland, Chairman, Scrum Training Institute &amp; CEO, Scrum, Inc.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="feature_content workflow content">

      <div class="section grey">
        <div class="center">
          <div class="testimonial">
            <div class="inner">
              <blockquote>"We are using Pivotal Tracker to manage all of
                our new web apps under development. This thing rocks! It has a very nice
                workflow and has really helped us know what other team members are
                working on and to know what our velocity of development is."</blockquote>
              <p>-- Ezra Zygmuntowicz, Founder and Senior Fellow, Engine Yard</p>
            </div>
          </div>
        </div>
      </div>


      <div class="section white">
        <div class="center">
          <div class="inner">
            <ul>
              <li>
                <img src="/images/features/workflow_projectbreakdown.png">
                <h4>The First Step: User Stories</h4>
                <p>Start your project by breaking down user features into
                  small concrete user stories. Each story is bite size, about what might
                  fit on a small index card, and represents an increment of value for your
                  product's customer. Deconstructing your project into concrete stories
                  can be enlightening, and gets your entire team on the same page what's
                  really important about your project.</p>
              </li>
              <li>
                <img src="/images/features/workflow_estimate.png">
                <h4>Next: Estimate Complexity</h4>
                <p>Once you've broken down your project into concrete
                  stories, huddle as a team, and estimate them in terms of complexity
                  using 'points'. To get started, take a really small story, give it 1
                  point, and estimate the rest keeping relative complexity in mind. This
                  helps <a href="https://www.pivotaltracker.com/">Pivotal Tracker</a>
                  predict when you might be finished with a milestone or release, but more
                  importantly, estimation drives important conversations and helps you
                  flesh out hidden complexity early.</p>
              </li>
              <li>
                <img src="/images/features/workflow_label.png">
                <h4>Organize by Label</h4>
                <p>Tag your stories with labels to tie related stories
                  together. Labels let you find stories quickly, and see progress at a
                  higher level.</p>
              </li>
              <li>
                <img src="/images/features/workflow_mockups.png">
                <h4>Attach your Mockups</h4>
                <p>Take the assets you've gathered for your project and
                  attach them directly to stories, so your developers don't have to hunt
                  for them when they're ready to turn those mockups into working software.</p>
              </li>
              <li>
                <img src="/images/features/workflow_prioritize.png">
                <h4>Prioritize User Stories</h4>
                <p>Drag stories from the Icebox, where all new stories
                  start out, and into the Backlog, in the order that reflects business
                  priorities. As these change, reflect new priorities by dragging stories
                  up or down in the backlog, and let Tracker adjust projected release
                  dates automatically.</p>
              </li>
              <li>
                <img src="/images/features/workflow_software.png">
                <h4>Turn Stories into Working Software</h4>
                <p>Development work begins when your team starts the first
                  story in the Current panel, which shows this week's iteration from the
                  Backlog. As coding for a given story is completed, the whole team will
                  see that story change state and color <a href="https://www.pivotaltracker.com/features#real_time">in real time</a>,
                  giving everyone visibility where things stand with the project.
                  Developers always know what they have to do next by grabbing the next
                  available story from the backlog.</p>
              </li>
              <li>
                <img src="/images/features/workflow_collaborate.png">
                <h4>Collaborate with the Team</h4>
                <p>Stories are evolving conversations, it's easy for
                  anyone to engage by posting comments on stories, and receiving instant
                  notifications via email, Twitter, or RSS. Bring your distributed team
                  into the <a href="https://www.pivotaltracker.com/features#one_view">same virtual room</a>!</p>
              </li>
              <li>
                <img src="/images/features/workflow_acceptance.png">
                <h4>Customer Acceptance</h4>
                <p>Your team delivers finished stories by deploying new
                  features to a staging or QA site where the team's product manager or
                  customer can verify them. A story is only considered done when it's
                  accepted by the customer, and story rejection is an opportunity to
                  incorporate feedback early!</p>
              </li>
              <li class="last">
                <img src="/images/features/workflow_track.png">
                <h4>Track Velocity and Project Release Dates</h4>
                <p>Tracker takes the busy work out of agile project
                  management by automatically updating your project's velocity, a measure
                  of progress, at every iteration, based on the point estimates of
                  accepted stories. Future iterations and release dates are projected
                  seamlessly, allowing your team to focus on prioritization and delivering
                  great working software.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="feature_content for_developers content">
      <!-- <h3>TODO: photo of two happy developers pairing, with two monitors, IDE in one and Tracker in the other </H3> -->

      <div class="section white">
        <div class="center">
          <div class="inner">
            <div class="headline">
              <img src="/images/features/game.png">
              <h3 class="callout">Fun, simple, powerful.</h3>
              <p class="callout">It’s been said that <strong><a href="https://www.pivotaltracker.com/">Pivotal Tracker</a> turns work into a game.</strong>
                Keep working to improve your velocity by honing your software
                development process, identifying problem areas through the transparency
                provided by Tracker. As your team takes stories through their life
                cycle, watch Tracker’s colors <strong>come to life</strong> as your vision for your product crystallizes.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="section grey">
        <div class="center">
          <div class="inner">
            <div class="features">
              <ul>
                <li>
                  <img src="/images/features/focus.png">
                  <h4>Keeps you Focused</h4>
                  <p>Tracker lets you focus on what's next, without losing
                    sight of the big picture, or getting in the way. Plus, scoring lots of
                    points in the iteration can be rewarding!</p>
                </li>
                <li>
                  <img src="/images/features/api.png">
                  <h4>API</h4>
                  <p>It's easy to extend Tracker and build your own tools using the <a href="https://www.pivotaltracker.com/help/api">Tracker Developer API</a>. There is a growing collection of useful <a href="https://www.pivotaltracker.com/help/thirdpartytools">third-party tools</a> already available.</p>
                </li>
              </ul>
              <ul>
                <li>
                  <img src="/images/features/source_commit_hooks.png">
                  <h4>Source Commit Hooks</h4>
                  <p>Tracker supports integration with your Source Control
                    Management system. We support Subversion, GitHub, and Git, plus you can
                    create your own hooks for other systems.</p>
                </li>
                <li>
                  <img src="/images/features/public_projects.png">
                  <h4>Public Projects</h4>
                  <p>Open source teams can harness the collaborative power
                    of Tracker and share progress with the community, with public projects.
                    Check out some <a href="https://www.pivotaltracker.com/public_projects">public projects</a> now!</p>
                </li>
              </ul>
            </div>

            <div class="featured_tools">
              <h3>Featured 3rd Party Tools</h3>
              <ul>
                <li>
                  <h4><a href="http://www.trackerstorymaps.com/" target="_blank">Story Mapper</a></h4>
                  <p>High-level release planning tool, based on Jeff Patton's story mapping techniques. From <a href="http://www.carbonfive.com/">Carbon Five</a>.</p>
                </li>
                <li>
                  <h4><a href="http://www.smallbydesign.de/ptmobile" target="_blank">PT Mobile</a></h4>
                  <p>Free Pivotal Tracker app for Android, by Niels Linnemann.</p>
                </li>
                <li>
                  <h4><a href="http://github.com/hashrocket/slurper" target="_blank">Slurper</a></h4>
                  <p>Written by our friends at Hashrocket, Slurper is a
                    ruby script that allows you to compose stories in a plain text file and
                    then slurp them into Pivotal Tracker through the API.</p>
                </li>
              </ul>
              <ul>
                <li>
                  <h4><a href="http://techpolcook.blogspot.com/2009/11/widget-for-pivotals-tracker.html" target="_blank">Mac OS/X Widget</a></h4>
                  <p>Simple but useful Mac OS X Dashboard widget that lets you create Pivotal Tracker stories easily, by Thomas Vie.</p>
                </li>
                <li>
                  <h4><a href="http://github.com/tpope/pickler/tree/master" target="_blank">Pickler</a></h4>
                  <p>Synchronize stories in Pivotal Tracker with Cucumber
                    features. Cucumber is a test framework that can execute plain-text
                    documents as automated functional tests.</p>
                </li>
                <li>
                  <h4><a href="http://github.com/dougmcbride/Pivotal-Tracker-IRC-bot" target="_blank">Pivotal-Tracker-IRC-bot</a></h4>
                  <p>A Ruby-based IRC bot that lets you interact with Pivotal Tracker projects, by Doug McBride.</p>
                </li>
              </ul>
              <ul>
                <li>
                  <h4><a href="https://chrome.google.com/extensions/detail/iegbkljacgfochoondhgibofiijnedjd" target="_blank">Chrome Story Board</a></h4>
                  <p>Chrome extension that allows you to visualize your current Tracker iteration as a cardwall.</p>
                </li>
                <li>
                  <h4><a href="http://www.gooddata.com/apps/pivotal-tracker" target="_blank">Pivotal Tracker Analytics</a></h4>
                  <p>Analyze your agile development process with this
                    full-blown business intelligence app for Pivotal Tracker, built on the
                    GoodData cloud business intelligence platform.</p>
                </li>
                <li>
                  <h4><a href="http://github.com/jsmestad/pivotal-tracker/tree/master" target="_blank">Ruby API Wrapper</a></h4>
                  <p>Ruby wrapper for the Tracker API, Justin Smestad.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="feature_content integrations content">
      <div class="section grey">
        <div class="center">
          <div class="inner">
            <ul class="features">
              <li>
                <img src="/images/features/integrates.png">
                <h4>Integrates with your other applications</h4>
                <p>Prioritize and collaborate online around stories linked
                  to tickets in your bug tracking tool or support site. Tracker
                  integrates with JIRA, Lighthouse, Bugzilla, Satisfaction, Zendesk, and
                  includes a flexible interface to support other tools. More integrations
                  are on the way!</p>
              </li>
              <li>
                <img src="/images/features/csv.png">
                <h4>Import &amp; Export</h4>
                <p>It's easy to import stories from other tools, or export
                  them to a CSV file. You can even use a spreadsheet program - just
                  export your project, move, update, or add stories with Excel, and import
                  them back to Tracker.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="section white">
        <div class="center">
          <div class="inner">
            <div class="featured_integrations">
              <h3>Built In Integrations</h3>
              <ul>
                <li>
                  <h4><a href="https://www.pivotaltracker.com/help/integrations#lighthouse">Lighthouse</a><img class="logo" src="/images/features/lighthouse_logo.png"></h4>
                  <p>See and import your Lighthouse tickets directly into
                    Tracker with drag and drop, and keep them updated as you collaborate and
                    complete related stories.</p>
                </li>
                <li>
                  <h4><a href="https://www.pivotaltracker.com/help/integrations#zendesk">Zendesk</a><img class="logo" src="/images/features/logo_zendesk.png"></h4>
                  <p>Turn your Zendesk support tickets that involve bug fixes into Tracker stories, and reflect status of these to your support team.</p>
                </li>
                <li>
                  <h4><a href="https://www.pivotaltracker.com/help/integrations#bugzilla">Bugzilla</a><img class="logo" src="/images/features/bugzilla_logo.png"></h4>
                  <p>Report and manage your bugs in this popular defect
                    tracking tool, and use Tracker in conjunction to prioritize them along
                    with feature work and collaborate in real time.</p>
                </li>
              </ul>
              <ul>
                <li>
                  <h4><a href="https://www.pivotaltracker.com/help/integrations#jira">JIRA</a><img class="logo" src="/images/features/JIRA_logo.png"></h4>
                  <p>Leverage the openness and flexibility of JIRA while
                    keeping your team focused with Tracker. Import and link your issues via
                    drag and drop, and share story progress and conversation with JIRA
                    users.</p>
                </li>
                <li>
                  <a href="https://www.pivotaltracker.com/help/integrations#get_satisfaction"><h4 class="getsatisfaction">Get Satisfaction</h4></a>
                  <p>Engage with your user community easily. View, import,
                    and collaborate around ideas, questions, and problems posted for your
                    product on your Get Satisfaction powered support site.</p>
                </li>
                <li>
                  <h4><a href="https://www.pivotaltracker.com/help/integrations#other">Create your own</a><img class="logo" src="/images/features/api_logo.png"></h4>
                  <p>An open <a href="https://www.pivotaltracker.com/help/integrations#other">integration</a> framework, a rich <a href="https://www.pivotaltracker.com/help/api">developer API</a>, and <a href="https://www.pivotaltracker.com/help/integrations#activity_web_hook">activity webhooks</a> allow you to connect Tracker with just about any software tool in your workflow.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="push"></div>

  </div>
  <noscript>
    <div id='js_required'>Tracker requires JavaScript. Please enable it in your browser.</div>
  </noscript>
  <div id="footer">
    <div class="section light">
      <div class="center">
        <img alt="Pivotal Labs" id="embossed_logo" src="/images/features/pivotallabs_embossed.png">
        <div class="inner">
          <div class="article pivotal">
            <h4>Developed by Pivotal Labs</h4>
            <ul>
              <li>
                <p>Pivotal Labs is the recognized leader in agile software
                  development. We have successfully delivered hundreds of client
                  products, including Pivotal Tracker, our own agile project management
                  software. Our disciplined agile techniques accelerate development,
                  reduce risk, and increase responsiveness to market trends.</p>
              </li>
              <li>
                <a href="http://www.pivotallabs.com/">Learn more about Pivotal Labs &gt;</a>
              </li>
            </ul>
          </div>
          <div class="article blog">
            <h4><a href="http://www.pivotallabs.com/tracker">Blog</a></h4>
            <ul>
              <li><a href="https://pivotallabs.com/users/ahogan/blog/articles/1980-pivotal-labs-has-new-opportunities-in-web-mobile-and-at-tracker" target="_blank">Pivotal Labs has new opportunities in web, mo...</a></li><li><a href="https://pivotallabs.com/users/dan/blog/articles/1975-pivotal-tracker-api-v2-to-be-removed-on-jan-27" target="_blank">Pivotal Tracker API V2 To Be Removed on Jan 27</a></li><li><a href="https://pivotallabs.com/users/dan/blog/articles/1970-apigee-pivotal-tracker-api-console" target="_blank">Apigee Pivotal Tracker API Console</a></li><li><a href="https://pivotallabs.com/users/dan/blog/articles/1961-pivotal-tracker-introductory-webinar-next-wed-dec-21-register-now-" target="_blank">Pivotal Tracker Introductory Webinar Next Wed...</a></li>
            </ul>
          </div>
          <div class="article connect">
            <h4>Connect with us</h4>
            <ul>
              <li><a href="http://www.twitter.com/pivotaltracker">Follow us <strong>@pivotaltracker</strong></a></li>
              <li><a href="mailto:tracker@pivotallabs.com">Email us <strong>tracker@pivotallabs.com</strong></a></li>
              <li><a href="https://www.pivotaltracker.com/policy/privacy">Privacy Policies</a></li>
              <li><a href="https://www.pivotaltracker.com/policy/eula">Terms of Service</a></li>
              <li><a href="https://www.pivotaltracker.com/help">FAQ</a></li>
              <li><a href="https://www.pivotaltracker.com/help/api?version=v3">API</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section dark">
      <div class="center">
        <div class="inner">
          <span>© 2012 Pivotal Labs, Inc.</span>
          <span></span>
        </div>
      </div>
    </div>
  </div>





</body></html>