<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

  <div class="detials ui-draggable" id="<%= "#{@user_task.id}"  %>">
    <%= @user_task.task_name %>
    <span style="float: right">
      <% case @user_task.task_level%>
      <% when "1" %>
        <%= image_tag("Stories/estimate_1pt_linear.gif",:class => "estimation") %>
      <% when "2"%>
        <%= image_tag("Stories/estimate_2pt_linear.gif")  %>
      <% when "3"%>
        <%= image_tag("Stories/estimate_3pt_linear.gif")  %>
      <% when "Unknown" %>
        <%=  image_tag("Stories/estimate_unestimated_linear.gif")%>
      <%else%>
        <%=  image_tag("Stories/estimate_0pt_linear.gif")%>
      <%  end %>
    </span>
  </div>
