<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%#= "signin.html" %>

<body class="marcom_ancillary signin_page ">

      <div class="section">
        <div class="wrapper ">
          <div class="dialog_column">
            <div class="dialog">
              <div id="sign_in" class="inner">
                <a class="forgot_password" href="#" onclick="location.href = '/signin/passwords/new?username=' + escape($('credentials_username').value); return false;">Forgot your password?</a>

                <h1>Sign In</h1>
                <%= form_for :session, :url => sessions_path do |f| %>


                <%= f.label :email  %><br />
                <%= f.text_field :email, :required => true%>
                <br/>
                <%= f.label :password %><br/>
                <%= f.password_field :e_password%><br/>

                <br/>
                <%= f.submit "Sign In" %>
                <% end %>
              </div>
              <!--<input id="google_signin_button" value="Sign In" tabindex="4" type="submit"/>-->
            </div>
          </div>
        </div>
      </div>
    <noscript>
  <div id='js_required'>Tracker requires JavaScript. Please enable it in your browser.</div>
</noscript>
</body>
</html>