<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%#= "_header.html" %>
<%= stylesheet_link_tag "/projects/non_stories_view_prod-release-20111025-20111221-3_pkg"  %>
<header>
  <div id="header" class="notice_header">
    <% if !user_signed_in? %>
      <div class="center">
      <%end%>
      <div class="inner">
        <h1><a href="/">Pivotal Tracker</a></h1>
        <div class="navigation_area clearfix">
          <% if user_signed_in? %>
            <div class="welcome_message" >Welcome,<%= current_user.name.capitalize %></div>
            <ul class="nav_links">
              <li class="dashboard">
                <%= link_to "Dashboard", stories_path,:class => "current" %>
              </li>
              <li>
                <%= link_to "Reports",'#' %>
              </li>
              <li>
                <%link_to "Profile", '#'%>
              </li>
              <li>
              </li>
              <li>
                <%= link_to "Help", '#' %>
              </li>
              <li>
                <%= link_to "Sign Out",destroy_user_session_path %>
              </li>
            </ul>
          <%else%>
            <ul class="nav_links">
              <li>
                <%= link_to "Features",feature_path %>
              </li>
              <li>
                <%= link_to "Clients & Testimonials" , '#' %>
              </li>
              <li>
                <%= link_to "Public Projects",'#' %>
              </li>

              <li>
                <%= link_to "Pricing",'#' %>
              </li>


              <li><%= link_to "Sign In",new_user_session_path %></li>

            </ul>
          <%end%>
        </div>
        <% if !user_signed_in? %>
        </div>
      <%end%>
    </div>
  </div>
</header>
