<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<html>
  <head>
    <title>Pivital</title>
    <%= stylesheet_link_tag 'marcon' %>
    <%= stylesheet_link_tag 'marcom_prod-release-20111025-20111129-1_pkg' %>
    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "features/jquery.tools.min" %>
    <%= javascript_include_tag "kep3kek" %>
    <%= javascript_include_tag "feature/flowplayer-3.2.6.min.js" %>
    <%= javascript_include_tag "projects/non_stories_view_prod-release-20111025-20111221-3_pkg" %>
    <style type="text/css">.tk-myriad-pro{font-family:"myriad-pro-1","myriad-pro-2",sans-serif;}.tk-myriad-pro-semi-condensed{font-family:"myriad-pro-semi-condensed-1","myriad-pro-semi-condensed-2",sans-serif;}</style>
    <%= csrf_meta_tag %>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Pivotal Tracker - Simple, Effective Agile Project Management and Team Collaboration Software, from Pivotal Labs</title>
    <meta name="description" content="Pivotal Tracker is an award-winning, simple, effective, agile project management tool that allows your team to collaborate around a shared backlog of stories in real time."/>
    <meta name="keywords" content="agile project management,agile software,agile tools,project planning,hosted,scrum,extreme programming,emergent iterations"/>
    <meta name="verify-v1" content="wrsZ2GjaOb2/63fviRr2sK2wf9k9tFFT2Ny9oC0flGc="/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="msvalidate.01" content="C62019333E31EAE246C3EC4C77F6ED01"/>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    
  </body>
</html>
